h1 {
        text-align: center;
        font-size: 25pt;
        color: red;
        margin-bottom: 10px;
        text-decoration: underline;
    }

p
{
	float:left;
	font-family: "Times New Roman", Times, serif;

}
body
{
background-color:yellow;
}
